#wid{ width: 70px;}

#hei{ width: 70px;}

#font{ width: 70px;}

#fontColor{width: 120px;}

#bagroundColor{ width: 120;}

#string{ width: 300;}

#box{width:300px;
    box-sizing: border-box;
    border: 4px solid black;
    height: 200px;
background-color: yellow;
color: red;
}

